[user]
  email = odyslam@gmail.com
  name = Odysseas.eth
  signingKey = Odysseas Lamtzidis <odyslam@gmail.com>
[github]
  user = OdysLam

[core]
  editor = nvim

[alias]
  b = branch -v
  c = commit -v
  s = status -sb
  st = status
  co = checkout
  d = diff --word-diff=color
  l = log --stat
  ll = log -p
  lol = log --graph --decorate --pretty=oneline --abbrev-commit
  lola = log --graph --decorate --pretty=oneline --abbrev-commit --all
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  changes = log -c --reverse

[gpg]
  program = gpg

[commit]
  gpgsign = true

[pull]
  ff = only

[init]
  defaultBranch = master

# delta config
#
[core]
    pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true  # use n and N to move between diff sections
    light = false    # set to true if you're in a terminal w/ a light background color (e.g. the default macOS terminal)
  line-numbers = true
      side-by-side = true


[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default
[push]
	default = current
